body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #f3e7e7;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* nav bar */
.title {
  color: #b96f6f;
  font-size: 36px;
  text-align: center;
}

.title-headline {
  color: #c48484;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

/* nav bar links */
.nav-links {
  color: #b96f6f;
  border: 1px solid;
  padding: 5px;
  border-radius: 2px;
}

.nav-links:hover {
  color: #f3e7e7;
  background-color: #b96f6f;
}

/* user-home-welcome */

.welcome-user-email {
  font-size: 20px;
  text-align: center;
  color: #b96f6f;
  font-style: italic;
}

/* all-products-view */

.shop-all-products-headline {
  color: #b96f6f;
  font-size: 20px;
  margin: 15px;
}

.all-products {
  font-style: italic;
  text-align: center;
}

.all-products-list-container ul {
  padding: 0;
  margin: 0px;
  list-style-type: none;
}

.all-products-list-container ul li {
  width: 250px;
  height: 300px;
  background-color: #e6cccc;
  float: left;
  margin: 30px;
}

.product-name {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
