body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #f3e7e7;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* nav bar */
.title {
  color: #b96f6f;
  font-size: 36px;
  text-align: center;
}

.title-headline {
  color: #c48484;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

/* nav bar links */

.nav-bar {
  background-color: #b96f6f;
}

.brand-name {
  font-size: 25px;
  padding: 0;
}

.nav-links {
  cursor: pointer;
  color: #e6cccc;
  border: 1px solid;
  padding: 5px;
  border-radius: 2px;
}

.nav-links:hover {
  color: #f3e7e7;
  background-color: #b96f6f;
}

/* user-home-welcome */

.welcome-user-email {
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  color: #b96f6f;
  font-style: italic;
}

/* Login view */
.login-button {
  color: #ffffff;
  background-color: #b96f6f;
  border: 1px solid #ffffff;
}

.login-button:hover {
  color: #b96f6f;
  background-color: #ffffff;
  border: 1px solid #b96f6f;
}

.auth {
  color: #b96f6f;
  font-size: 18px;
  text-align: center;
}

.google {
  color: #b96f6f;
  font-style: italic;
}

.google:hover {
  font-style: normal;
  color: #b96f6f;
}
/* all-products-view */

.shop-all-products-headline,
.admin-view-headline {
  color: #b96f6f;
  font-size: 20px;
  margin: 15px;
}

.all-products {
  font-style: italic;
  text-align: center;
}

.all-products-list-container ul,
.admin-view-container ul {
  padding: 0;
  padding-left: 10px;
  margin: 0px;
  list-style-type: none;
}

.all-products-list-container ul li,
.admin-view-container ul li {
  width: 350px;
  height: 400px;
  background-color: #e6cccc;
  float: left;
  margin: 30px;
  padding: 5px;
  word-wrap: break-word;
}

.product-stats {
  padding-top: 15px;
  font-size: 20px;
}

/* specific styling for each product category */

.product-name {
  font-size: 32px;
  font-weight: bold;
}

.product-summary {
  font-size: 18px;
  font-style: normal;
}
.product-price {
  font-size: 32px;
}

.add-cart {
  cursor: pointer;
  color: #b96f6f;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.add-cart:hover {
  color: #ffffff;
  background-color: #b96f6f;
  border: 1px solid #ffffff;
}
